**/.DS_Store
**/bin
**/obj
**/node_modules
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/firebase-debug.log
**/firestore-debug.log
**/.firebase_data
**/emulator_baseline
**/firebase-export-*
**/release
GameVault.Client/**
!GameVault.Client/GameVault.Client.csproj
functions/**
README.md
*.md
.firebaserc
firebase.json
