@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @if (!IsHomePage())
            {
                <Breadcrumb />
            }
            @Body
        </article>
    </main>
</div>

@code {
    private bool IsHomePage()
    {
        var uri = new Uri(Navigation.Uri);
        return uri.LocalPath == "/" || uri.LocalPath == "/index" || uri.LocalPath == "/Index";
    }
}