@page "/adminAccounts"
@inject Services.AuthService AuthService
@inject NavigationManager Navigation

<h3>Admin Accounts</h3>

@* TODO: Show all admin accounts here *@

<p><a href="/invitePage">Add Admin Account</a></p>