@page "/adminAccounts"
@inject AuthService AuthService
@inject NavigationManager Navigation
@inject BreadcrumbService BreadcrumbService

<h3>Admin Accounts</h3>

@* TODO: Show all admin accounts here *@

<p><a href="/invitePage">Add Admin Account</a></p>

@code {
    protected override async Task OnInitializedAsync()
    {
        BreadcrumbService.Set(
            new BreadcrumbItem("Home", "/"),
            new BreadcrumbItem("Admin Dashboard", "/adminLanding"),
            new BreadcrumbItem("Admin Accounts")
        );
    }
}