@page "/viewListings"
@inject Services.AuthService AuthService
@inject NavigationManager Navigation
@inject BreadcrumbService BreadcrumbService

<h3>Listings Management</h3>

<header>
    <nav>
        <ul>
            <li><p><a href="/viewListings/pendingListings">Pending Listings</a></p></li>
            <li><p><a href="/viewListings/publishedListings">Published Listings</a></p></li>
            <li><p><a href="/viewListings/removedListings">Removed Listings</a></p></li>
            <li><p><a href="/viewListings/unpublishedListings">Unpublished Listings</a></p></li>
        </ul>
    </nav>
</header>

@code {
    protected override async Task OnInitializedAsync()
    {
        BreadcrumbService.Set(
            new BreadcrumbItem("Home", "/"),
            new BreadcrumbItem("Vendor Dashboard", "/vendor"),
            new BreadcrumbItem("Listings Management")
        );
    }
}