@page "/manageAccounts"
@inject NavigationManager Nav
@inject BreadcrumbService BreadcrumbService

<h3>Manage Account Page</h3>

<header>
    <button @onclick='() => Nav.NavigateTo("/manageAccounts/pendingVendors")' class="btn btn-secondary">Pending Vendor
        Accounts</button>
    <button @onclick='() => Nav.NavigateTo("/manageAccounts/activeVendors")' class="btn btn-secondary">Vendor
        Accounts</button>
    <button @onclick='() => Nav.NavigateTo("/manageAccounts/userAccounts")' class="btn btn-secondary">Customer
        Accounts</button>
    <button @onclick='() => Nav.NavigateTo("/manageAccounts/bannedAccounts")' class="btn btn-secondary">Banned
        Accounts</button>
    <button @onclick='() => Nav.NavigateTo("/adminAccounts")' class="btn btn-secondary">Admin
        Accounts</button>
</header>

<p>Select a category above to view account entries.</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        BreadcrumbService.Set(
            new BreadcrumbItem("Home", "/"),
            new BreadcrumbItem("Admin Dashboard", "/admin"),
            new BreadcrumbItem("Manage Accounts")
        );
    }
}