@page "/manageAccounts"
@inject NavigationManager Navigation

<h3>Manage Account Page</h3>

<header>
    <nav>
        <ul>
            <li><a href="/manageAccounts/pendingVendors">Pending Vendor Accounts</a></li>
            <li><a href="/manageAccounts/activeVendors">Vendor Accounts</a></li>
            <li><a href="/manageAccounts/userAccounts">Customer Accounts</a></li>
            <li><a href="/manageAccounts/bannedAccounts">Banned Accounts</a></li>
            <li><a href="/adminAccounts">Admin Accounts</a></li>
        </ul>
    </nav>
</header>

<p>Select a category above to view account entries.</p>