@page "/rssfeed/{userId}"
@inject NotificationService RssService
@inject NavigationManager Nav

<h3>Latest Notifications</h3>

<button class="btn btn-primary" @onclick="OpenRssFeed">
   Open RSS Feed
</button>
<button class="btn btn-secondary" @onclick="CopyFeedUrl">
    Copy RSS URL
</button>
<button class="btn btn-secondary" @onclick="SubscribeUsingProtocol">
    Open in RSS Reader
</button>
@if (copySuccess)
{
    <input id="feedUrl" class="form-control" value="@feedUrl" readonly />
}

@if (feedItems == null)
{
    <p>Loading...</p>
}
else if (!feedItems.Any())
{
    <p>No notifications found.</p>
}
else
{
    <ul>
        @foreach (var item in feedItems)
        {
            <li class="mb-3">
                <strong>@item.Title</strong><br />
                @item.Message<br />
                <small>@item.Timestamp.ToLocalTime()</small>
            </li>
        }
    </ul>
}

@code {
    [Parameter]
    public string userId { get; set; }
    private List<NotificationDTO>? feedItems;
    private string feedUrl => $"http://localhost:5080/api/rss/{userId}";
    private bool copySuccess = false;

    void OpenRssFeed()
    {
        Nav.NavigateTo(feedUrl, true);
    }

    async Task CopyFeedUrl()
    {
        copySuccess = true;
        await Task.Delay(20000);
        copySuccess = false;
    }

    void SubscribeUsingProtocol()
    {
        Nav.NavigateTo($"feed:{feedUrl}", true);
    }

    protected override async Task OnParametersSetAsync()
    {
        var result = await RssService.GetNotifsAsync(userId);
        feedItems = result.List ?? new List<NotificationDTO>();
    }
}
