@page "/vendorDetails/{UserID}"
@inject NavigationManager Nav
@inject Services.AccountService AccountService
@inject Services.AuthService AuthService
@using GameVault.Client.Services
@using System.Runtime.CompilerServices
@using GameVault.Shared.Models
@using System.Reflection
@using GameVault.Shared.DTOs
@using Grpc.Net.Client.Balancer

@if (account is null)
{
    <h3>Vendor not found</h3>
}
else
{
    <h3>VendorDetails</h3>

    <p>Name: @account.DisplayName</p>
    <p>Email: @account.Email</p>
    <p>Business Name: @account.BusinessName</p>
}

@code {
    [Parameter] public string? UserID { get; set; }
    private AccountDTO? account;

    protected override async Task OnParametersSetAsync()
    {
        if (UserID is not null)
        {
            account = await AccountService.GetAccountByIdAsync(UserID);
        }
        else
        {
            Console.WriteLine("No User Id provided");
        }
    }
}