@page "/vendor"

<h3>Welcome Vendor!</h3>
<p><a href="/vendor/listings">View Listings</a></p>
<p><a href="/vendor/listings/create">Create Listing</a></p>
<p><a href="/vendor/orders">View Orders</a></p>
<p><a href="/vendor/orders/returns">View Returns</a></p>
@* <p><a href="/accountInfo">Edit Account</a></p> *@