@page "/account"
@using BlazorQuickStart.Services
@inject UserState User
@inject NavigationManager Nav

<h3>Account</h3>

@if (!User.IsLoggedIn)
{
    <p>You are not logged in. <a href="/login">Go to Login</a></p>
}
else
{
    <p><b>Username:</b> @(User.Username ?? "Guest")</p>
    <p><b>Role:</b> @User.Role</p>

    <button @onclick="Logout">Logout</button>
}

@code {
    private void Logout()
    {
        User.IsLoggedIn = false;
        User.Username = null;
        User.Role = "Customer";
        Nav.NavigateTo("/login", forceLoad: true);
    }
}
