@page "/testlisting"
@using BlazorQuickStart.Services
@inject NavigationManager Nav
@* @inject UserState User *@

<h3>Create Listing</h3>

@* <EditForm Model="@model" OnValidSubmit="@HandleLogin"> *@
<EditForm Model="@model" OnValidSubmit="@HandleCreate">
    @* <DataAnnotationsValidator /> *@
    <div style="margin-bottom:8px;">
        <label>Name</label><br />
        <InputText @bind-Value="model.Name" />
    </div>
    <div style="margin-bottom:8px;">
        <label>Description</label><br />
        <InputText @bind-Value="model.Description" />
    </div>
    <div style="margin-bottom:8px;">
        <label>Price</label><br />
        <InputText @bind-Value="model.price" />
    </div>
    <div style="margin-bottom:8px;">
        <label>Stock</label><br />
        <InputText @bind-Value="model.stock" />
    </div>
    @* <div style="margin-bottom:8px;">
        <label>Role</label><br />
        <InputSelect @bind-Value="model.Role">
            <option>Customer</option>
            <option>Vendor</option>
            <option>Admin</option>
        </InputSelect>
    </div> *@
    <button type="submit">Create Listing</button>
</EditForm>

@code {
    private CreateListingModel model = new();

    private void HandleCreate()
    {
        @* User.IsLoggedIn = true;
        User.Username = string.IsNullOrWhiteSpace(model.Username) ? "Guest" : model.Username;
        User.Role = string.IsNullOrWhiteSpace(model.Role) ? "Customer" : model.Role; *@

        // home
        Nav.NavigateTo("/");
    }

    public class CreateListingModel
    {
        public string? Name { get; set; }
        public string? Description { get; set; }
        public string? price { get; set; }
        public string? stock { get; set; }
    }
}